<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<script src="https://www.w3schools.com/lib/w3.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
	<div id="header"><h1 id="title">{{title}}</h1></div>
	<div id="content">
		<div id="top">
			<div id="divgetxpath">					
				<label class="labelstyle" id="label1">URL of web page to get XPATH</label><input id="input1" type="text" #urlInput />
				<button id="btngetxpath" class="btn btn-primary" type="submit" (click)="getxpath2(urlInput.value)">Get XPATH</button>
			</div>
			<div id="divmessage">
				<label class="labelstyle" id="labelWanring">URL không đúng định dạng</label>
			</div>
			<div id="divloadxpath">
				<label class="labelstyle" id="label2">Reload saved XPATH data at given date</label><input id="input2" type="text" #urlInput2 />
			</div>
		</div>
		<div id="bottom">
			<label class="labelstyle" id="labelMessage"></label>
			<button id="btnsavexpath" type="submit" class="btn btn-primary" disabled (click)="savexpath()">Save</button>
			<!--<div id="show"></div>-->
			<!-- code lỗi(1) <iframe srcdoc="{{html}}"></iframe>-->
			<iframe id="show" srcdoc=""><input type="text" name="a" width="300px" placeholder="xpath"></iframe>
			<!--<div id="show2"></div>-->
		</div>

	</div>
</body>
